<mat-toolbar class="toolBar">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/accountInfo">
      <mat-icon>account_circle</mat-icon>
      <span>Account Info</span>
    </button>
    <button mat-menu-item>
      <mat-icon [style.color]="'#5DB7F2'">favorite</mat-icon>
      <span>Favorite</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
    <button mat-menu-item>
      <mat-icon>palette</mat-icon>
      <span class="withSlide">Dark Mode</span>
      <mat-slide-toggle class="slide" (click)="changeColorMode()"></mat-slide-toggle>
    </button>
    <button mat-menu-item routerLink="/login" routerLinkActive="active" (click)="isHome = false">
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>
  </mat-menu>

  <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" *ngIf="isHome === true">
    <mat-button-toggle class='butoggle' (click)='is2 = false; sendIs2(); isHome = true' [class.clickThis]="is2 === false" value="1.0">Ubike1.0</mat-button-toggle>
    <mat-button-toggle class='butoggle' (click)='is2 = true; sendIs2(); isHome = true' [class.clickThis]="is2 === true" value="2.0">Ubike2.0</mat-button-toggle>
  </mat-button-toggle-group>
  <span class="example-spacer"></span>
  <img class='logo' src="https://www.youbike.com.tw/region/_next/image/?url=%2Fregion%2Fassets%2Fimages%2Flogo.svg&w=256&q=75" alt="ubikeLogo" (click)="goHome(); isHome = true">
  </mat-toolbar>
