.body {
  display: inline-block;
  /* background-color: #FFF5E6; */
  background-color: var(--body_background);
  width: 100%;
  min-height: 80%;
  padding-top: 10%;
}

.search {
  display: flex;
  justify-content: center;
}

::ng-deep .mat-form-field {
  background-color: transparent;
}
