<div class="body">

  <div class="search">

    <!-- searchByArea -->
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>選擇行政區</mat-label>
        <input type="text" #district
              (input)='isEmpty=false; checkDistrict(district.value, searchText.value) '
              (keyup.enter)="sortByArea(district.value, searchText.value)"
              (keyup.Escape)="district.value=''; isEmpty = true; refresh(searchText.value)"
              (keyup.Backspace)="areaEmptyCheck(district.value.length, searchText.value)"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto"
               >
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option (click)='isEmpty=false; sortByArea(district.value, searchText.value) ' *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <!--searchByType-->
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>搜尋場站名稱或地點</mat-label>
        <input matInput placeholder="ex. 科技大樓" #searchText
           (input)='checkSearchText(searchText.value)'
           (keyup.Escape)="searchText.value=''; fromType = true; refresh() "
           (keyup.Backspace)="emptyCheck(searchText.value.length, searchText.value)"
           value=''>
      </mat-form-field>
    </form>

    <!-- <button mat-raised-button color="warn">click</button> -->

  </div>

  <app-table [data]="newData"></app-table>
</div>
