.body {
  display: inline-block;
  background-color: #FFF5E6;
  width: 100%;
  min-height: 80%;
  padding-top: 10%;
}

.search {
  display: flex;
  justify-content: center;
}

::ng-deep .mat-form-field {
  background-color: transparent;
}

/* .mat-column-demo-position {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-demo-name {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-demo-weight {
  font-style: italic;
}

.mat-column-demo-symbol {
  width: 32px;
  text-align: center;
  font-weight: bold;
} */
