.toolBar {
  display: flex;
  flex-direction: row-reverse;
  background-color: #736E67;
  position: fixed;
  top: 0%;
  justify-content: space-between;
}

.toolBar .logo {
  /* width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; */
  width:fit-content;
  height: 75%;
  overflow: hidden;
  margin-top: -6px;
  float: left;
  display: block;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 3px;
}



.withSlide {
  margin-right: 5px;
}

/* slide-toggle */
::ng-deep .mat-slide-toggle-label {
  margin-left: 50px;
  position: relative;
  top: 1.5px;
}
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #736E67;
}
::ng-deep .mat-slide-toggle-bar {
  background-color: #736E67;
}

::ng-deep .mat-slide-toggle-thumb {
  background-color: beige;
  position: relative;
  left: -1px;
}
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: beige;
}

